.searchbar {
  padding: 10px;
}
.searchbar form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(221, 220, 220, 0.144);
  border-radius: 20px;
  width: 50%;
  margin: 5px auto;
  box-shadow: 0 0px 10px rgba(77, 75, 75, 0.466);
  /* padding: 6px 0; */
  gap: 1rem;
}

.searchbar form label:nth-child(1) {
  border-right: 2px solid lightgray;
}
.searchbar form label:nth-child(2) {
  border-right: 2px solid lightgray;
}

.searchbar form label span {
  font-size: 1.2rem;
  color: #ee6e6e;
}

.searchbar form label div input::placeholder {
  color: rgba(107, 107, 107, 0.479);
}
.searchbar form label div input {
  color: rgb(65, 65, 65);
  border: none;
  outline: none;
  background-color: transparent;
}
.search_icon {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 10px 0 10px 0;
}
